<div>
  <div>
    <h1>Joker</h1>
    <h2>(2019)</h2>
  </div>
  <div>
    <div>
      <img src="" alt="MOVIE IMAGE" />
      <div>
        <div>
          <p>Director:</p>
          <p>Genero:</p>
          <p>Idioma:</p>
          <p>Duración:</p>
        </div>
        <p>Ranking:</p>
      </div>
    </div>
    <div>
      <h3>Reseña</h3>
      <p>
        En Gotham City, el comediante con problemas mentales Arthur Fleck es
        ignorado y maltratado por la sociedad. Luego se embarca en una espiral
        descendente de revolución y crímenes sangrientos. Este camino lo pone
        cara a cara con su alter ego: el Joker.
      </p>
      <div>
        <input type="button" value="Editar" />
        <input type="button" value="Eliminar" />
      </div>
    </div>
  </div>
</div>
